.intro {
    background-color: white;
    width: 70%;
    font-weight: 550;
    color: black;
}

.description {
    width: 70%;
    margin: 0 auto;
    font-weight: 550;
    color: black;
  }

figcaption {
    font-weight: 300;
    font-size: medium;
    font-style: italic;
}

h2 {
    text-align: center;
}