.intro {
    background-color: white;
    margin: 0 7rem;
    padding: 1rem 2rem;
}

@media (max-width: 1250px) {
    .intro{
        margin: 0 1.5rem;
        padding: 1rem 1rem;
    }
  }


h1,h2 {
    margin: .5rem 0rem;
    text-align: left;
}
.highlight {
    background-color: #F7D6D0;
    color: #281b0d;
    font-weight: 600;
    padding: 1rem;
}

.bold {
    font-weight: 600;
}