
.admin {
    color: #4aa564;
    font-weight: 700;
}

.eleanor {
    color: #8A2BE2;
    font-weight: 700;
}
.client{
    color: #1E90FF;
    font-weight: 700;
}
.msg {
    color: black;
    font-weight:200;
    padding-left:1rem;
    margin: .5rem;
}
.admin-banned {
    color: #FFA500;
    font-weight: 400;
}