
.admin {
    color: lightgreen;
    font-weight: 700;
}

.eleanor {
    color: #ffb3de;
    font-weight: 700;
}
.client{
    color: #b3ebf2;
    font-weight: 700;
}
.msg {
    color: white;
    font-weight:200;
    padding-left:1rem;
}