.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7D6D0;
    padding: 1rem;
  }

  .navbar-left {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  .navbar-left {
    font-size: 1.0rem;
    font-weight: 700;
    text-decoration: none;

    list-style-type: none;
    font-size: 1.0rem;
    font-weight: 700;
    display: flex;
    margin: 0;
    padding: 0;
  }
 
  
  /* .navbar-center  {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    margin: 0;
    padding: 0;
  } */

  
  .navbar-right {
    color: #281b0d;
    font-size: 1.0rem;
    display: flex;
    align-items: center;
  }
  .navbar-right a{
    margin-left: 1rem;
  }

  a:link {
    /* font-weight: 800; */
    color: #281b0d;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    /* font-weight: 800; */
    color: #281b0d;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .active span {
    color: #281b0d;
  }

a span{
  color: #996630;
}
 