.spaceGrotesk100 {
  font-family: "SpaceGrotesk", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.spaceGrotesk500 {
  font-family: "SpaceGrotesk", monospace;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings: "wdth" 550;
}
.spaceGrotesk600 {
  font-family: "SpaceGrotesk", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 600;
}
.spaceGrotesk700 {
  font-family: "SpaceGrotesk", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 700;
}
.spaceGrotesk800 {
  font-family: "SpaceGrotesk", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 800;
}

/* --------- */

html {
  width: 100%;
  height: 100%;
  font-size: large;
  background-color: #281b0d; /*#282828; */
  color: #281b0d;
  box-sizing: border-box;
  /* padding: 0.5rem; */
  font-family: IspaceGrotesk, sans-serif;
}
h1,
h2,
h4,
form {
  text-align: center;
}

input {
  height: 30px;
  margin: 0 10px;
}

.description {
  width: 70%;
  margin: 0 auto;
  font-weight: 550;
  color: #f7d6d0;
}

main {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

